&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="col-lg-7 col-md-7">
    <div class="container" style="left: 100px;">
    <div class="float-right">
        <!-- <div style="margin: top 100%;"> -->

        <div class="jumbotron ">
            <h1>Who We Are</h1><br />
            <p style="font-size: 20px;">
                Welfare bank is one of India's leading banks.
                We offer different services to customers through netbanking.
            </p>
            <h3>Our Core Values</h3>
            <h5>
                <ul>
                    <li>Excellence</li>
                    <li>Customer Focus</li>
                    <li>People</li>
                    <li>Sustainability</li>
                </ul>
            </h5>
            <br />
            
        </div>
        <!-- </div> -->
    </div>
</div>
</div>