<div class="container-fluid">
    <div class="row">
        <app-nav-bar></app-nav-bar>
<div class="col-lg-8 col-md-8">
    <div class="float-right">
        <h3 class="text-primary">Enter following details to pay the emi..</h3>

        <br />
        <!---->
        <div class="card">
            <!-- <header class="card-header bg-secondary">
                <h4 class="card-title mt-2 text-center text-light ">Sign In</h4>
                </header> -->
            <article class="card-body">
                <form [formGroup]="emiForm" (ngSubmit)="Pay()">
                    <div>{{Msg}}</div>
                    <div class="form-group">
                        <label>Account Number</label>
                        <input type="text" placeholder="Enter Account Number Here.." formControlName="accno"
                            class="form-control" />
                        <div *ngIf="emiForm.get('accno').errors && submitted">
                            <div *ngIf="emiForm.get('accno').hasError('required')">
                                <span style="color: red;">Please Enter Account Number.</span>
                            </div>


                        </div>
                    </div>

                    <!---->

                    <div class="form-group">
                        <label for="emiamount">Enter Emiamount</label>
                        <input type="emiamount" class="form-control" formControlName="emiamount"
                            placeholder="emiamount" />


                        <div *ngIf="submitted && emiForm.controls.emiamount.errors" class="error">
                            <div class="text-danger" *ngIf="emiForm.controls.emiamount.errors.required">
                                Emiamount is required..
                            </div>
                        </div>

                    </div>

                    <!---->
                    <button type="submit" class="btn btn-primary">Pay</button> &nbsp;
                    <!-- <a class="btn btn-primary" routerLink="/functions">Back</a> -->
                </form>
            </article>
        </div>
        </div>
        </div>