<div class="container-fluid">
    <div class="row">
        <app-nav-bar></app-nav-bar>
<div class="col-lg-8 col-md-8">
    <div class="float-right">
        <h3 class="text-primary">Enter following details to calculate EMI..</h3>

        <br />
        <!---->
        <div class="card">

            <div class="card-body">
        <form [formGroup]="calemiForm" (ngSubmit)="calculate()">

            <div class="form-group">
                <label for="loanamount">Enter Loanamount</label>
                <input type="loanamount" class="form-control" formControlName="loanamount" placeholder="loanamount" />


                <div *ngIf="submitted && calemiForm.controls.loanamount.errors" class="error">
                    <div class="text-danger" *ngIf="calemiForm.controls.loanamount.errors.required">
                        Loanamount is required..
                    </div>
                </div>

            </div>
            
            <!---->
            <div class="form-group">
                <label>Period</label>
                <input type="text" placeholder="Enter Period" formControlName="period"
                    class="form-control" />
                <div *ngIf="calemiForm.get('period').errors && submitted">
                    <div *ngIf="calemiForm.get('period').hasError('required')">
                        <span style="color: red;">Please Enter period.</span>
                    </div>


                </div>
            </div>

            <!---->
            <div class="form-group">
                <label for="rate">Enter rate</label>
                <input type="rate" class="form-control" formControlName="rate" placeholder="rate" />


                <div *ngIf="submitted && calemiForm.controls.rate.errors" class="error">
                    <div class="text-danger" *ngIf="calemiForm.controls.rate.errors.required">
                        rate is required..
                    </div>
                </div>

            </div>
            
            <!---->
            <button type="submit" class="btn btn-primary" >Calculate</button> &nbsp;
           
            <!-- <a class="btn btn-primary" routerLink="/functions">Back</a> -->
            </form>
            </div>
            <div *ngIf="submitted">
                <!-- EMI is:{{emi}}; -->
            </div>
            </div>
            </div>
            </div>
</div>
</div>