<!-- The sidebar -->

<!-- <div class="row "> -->
    <div class="col-lg-4">
  
      <div class="sidebar">
        <a class="active" routerLink="/applyloan">apply loan</a>
        <a routerLink="/balancee">Balance</a>
        <a routerLink="/calcemi">calculate EMI</a>
        <a routerLink="/payemi">payEMI</a>
        <a routerLink="/deposit">Deposit</a>
        <a routerLink="/foreclose">Foreclose</a>
        <a routerLink="/ptransactions">Transaction</a>
       
        <a routerLink="/home">Logout</a>
      </div>
  
      <!-- Page content -->
      <div class="content">
        ..
      </div>
    </div>
  
    
  
  <!-- </div> -->
  