&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="col-lg-7 col-md-7">
    <div class="container" style="left: 100px;">
    <div class="float-right">
        <!-- <div style="margin: top 100%;"> -->

        <div class="jumbotron ">
            <h2>Contact Us</h2><br />
            <p style="font-size: 20px;">Welcome to the Welfare bank customer centre.We value your relationship and your satisfaction is important to us.If you are seeking information about
                our services following contact numbers can be the quickest way.In case you still have a query,please feel free to contact us.
            </p><br/>
            <h5>
                <ul>
                    <li>General Enquiries</li>
                    <li>1900 104 1865(Tollfree)</li>
                    <li> (024)-48564534(chargeable number) </li>
                </ul>
            </h5>
            <br />
           
        </div>
        <!-- </div> -->
    </div>
</div>
</div>